# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
venv/
.venv/

# Databases
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# Editors and operating systems
.vscode/
.idea/
.DS_Store
Thumbs.db